* {
    margin: 0;
    padding: 0;
    font-family: 'Imprima', sans-serif;
}

.nav-color {
    background-color: #E50914;
}

.body-color {
    background-color: #353535
}

.slide-width-500 {
    width: 600px;
}

.slide-height-300 {
    height: 320px;
}

.slide-color {
    background-color: #454545;
}

img {
    width: 200px;
    height: 320px;
}

.font-text-sz {
    font-size: 22px;
}

.height-320 {
    height: 320px;
}

.hover-btn:hover {
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: 0.3s;
}

li {
    cursor: pointer;
}

.filmes {
    width: 150px;
    height: 200px;
    position: relative;
}

.filmes img {
    width: 100%;
    height: 100%;
}

.filmes button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    transition: 0.3s;
}

.filmes:hover img ~ button {
    opacity: 1;
}

.modal-filmes {
    background-color: #313131;
}

.modal-filmes a {
    background-color: #E50914;
}

.modal-filmes a span img {
    width: 24px;
    height: 24px;
}